* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* #region debug */
.debug header {
    background-color: #4A4A4A;
    border: 1px solid white;
}



.debug main .user_view {
    background-color: aqua;
    height: 4rem;
    border: 1px solid;

}

.debug .user.name {
    background-color: blueviolet;
    width: 45%;
}

.debug .col_4{
    background-color: #000000;
    height: 1rem;
    border: 1px solid white;
}

/* #endregion debug */

/* #region utility */
:root {
    --z-dark: #000000;
    --z-dark-light: #222222;
    --z-dark-lighter: #4A4A4A;
    --z-active: #4BC800;
    --z-danger: #FF0000;
    --z-light: #FFFFFF;


}

.clearfix ::after {
    clear: both;
    display: table;
    content: "";
}

.container_fluid{
    width: 100%;
    margin: auto;
}
.container{
    margin: auto;
    width: 85%;
}

.d-flex{
    display: flex;
}

.col_4{
    width: calc((100% / 12)*4);
}
/* #endregion utility */

/* #region common */

/* #endregion common */
.container_fluid .row{
    display: flex;
    flex-direction: column;
}



/* #region header */
header {
    height: 15vh;
}

/* #endregion header */

/* #region main */
main{
    position: relative;
    background-color: var(--z-danger);

}

main .user {
    width: calc(100% / 7);
    float: left;
    padding: 3px;
}

.user_view {
    position: relative;
}

.user.name {
    position: absolute;
    bottom: 0;
    left: 0;
}

/* #endregion main */

/* #region footer */
footer .row{
    display: flex;
}
/* #endregion footer */