/* #region debug */
.debug .user_view{
    background-color: #FFFFFF;

}

/* #endregion debug */

/* #region utility */
:root {
    --z-dark: #000000;
    --z-dark-light: #222222;
    --z-dark-lighter: #4A4A4A;
    --z-active: #4BC800;
    --z-danger: #FF0000;
    --z-light: #FFFFFF;


}

.clearfix ::after {
    clear: both;
    display: table;
    content: "";
}

.container_fluid{
    width: 100%;
    margin: auto;
}
.container{
    margin: auto;
    width: 85%;
}

.d-flex{
    display: flex;
}

.col_4{
    width: calc((100% / 12)*4);
}

.row{
    display: flex;
}
/* #endregion utility */

/* #region common */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    max-width: 100%;
}
/* #endregion common */



/* #region header */
header {
    height: 15vh;
    background-color: var(--z-dark);
    color: white;
}

/* #endregion header */

/* #region main */
main{
    background-color: var(--z-dark);
}
main .row{
    margin-left: -0.25rem;
    flex-wrap: wrap;
    padding-bottom: 4%;
}
.user_view{
    position: relative;
    padding-left: 0.25rem;
    padding-top: 0.25rem;
}
.user_view img{
    height: 100%;
}

.user.name {
    position: absolute;
    bottom: 0.5rem;
    font-size: 0.5rem;
    color: white;
    background-color: rgba(0, 0, 0, 0.350);
}

/* #endregion main */

/* #region footer */

/* #endregion footer */